.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 500px;
    min-height: 300px;
    border: 1px solid blue;
    border-radius: 10px;
    background: linear-gradient(10.00deg, rgba(76, 41, 232, 0.2),rgba(0, 217, 245, 0.2) 100%);
}

.counter_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;

}
