.setting-of-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 500px;
    min-height: 300px;
    border: 1px solid yellow;
    border-radius: 10px;
    background: linear-gradient(40.00deg, rgba(0, 245, 160, 0.2),rgba(0, 217, 245, 0.2) 100%);
;
}